<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Ticket</title>
</head>
<body>
    <h2>预订航班</h2>
    {% if flight %}
        <!-- 显示错误消息 -->
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <p>航班名: {{ flight.flight_name }}</p>
        <p>起飞城市: {{ flight.departure }}</p>
        <p>到达城市: {{ flight.destination }}</p>
        <p>起飞时间: {{ flight.departure_time }}</p>
        <p>到达时间: {{ flight.arrival_time }}</p>
        <p>价格: {{ flight.price }}</p>
        <p>余票数量: {{ remaining_seats }}</p>


        <form method="post" action="{% url 'book_ticket' flight.id %}">
            {% csrf_token %}
            <input type="submit" value="提交预订">
        </form>
    {% else %}
        <p>航班信息不存在。</p>
    {% endif %}
</body>
</html>
