<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>财务信息</title>
</head>
<body>
    <h2>所有订单</h2>
    <table>
        <tr>
            <th>订单编号</th>
            <th>旅客</th>
            <th>航班名</th>
            <th>起飞城市</th>
            <th>目的城市</th>
            <th>起飞时间</th>
            <th>状态</th>
            <th>价格</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.username }}</td>
                <td>{{ order.flight.flight_name }}</td>
                <td>{{ order.flight.departure }}</td>
                <td>{{ order.flight.destination }}</td>
                <td>{{ order.flight.departure_time }}</td>
                <td>{{ order.order_status }}</td>
                <td>{{ order.flight.price }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="7">没有订单</td></tr>
        {% endfor %}
    </table>
    </body>
</html>
