<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>财务信息</title>
</head>
<body>
    <h2>财务报告</h2>

    <section>
        <h3>周收入</h3>
        <p>航班架次: {{ weekly_flights }}</p>
        <p>总收入: {{ weekly_income }}</p>
        <p>退票金额: {{ weekly_refunds }}</p>
        <p>利润: {{ weekly_profit }}</p>
    </section>

    <section>
        <h3>月收入</h3>
        <p>航班架次: {{ monthly_flights }}</p>
        <p>总收入: {{ monthly_income }}</p>
        <p>退票金额: {{ monthly_refunds }}</p>
        <p>利润: {{ monthly_profit }}</p>
    </section>

    <section>
        <h3>年收入</h3>
        <p>航班架次: {{ yearly_flights }}</p>
        <p>总收入: {{ yearly_income }}</p>
        <p>退票金额: {{ yearly_refunds }}</p>
        <p>利润: {{ yearly_profit }}</p>
    </section>

    <h2>所有订单</h2>
    <table>
        <tr>
            <th>订单编号</th>
            <th>旅客</th>
            <th>航班名</th>
            <th>起飞城市</th>
            <th>目的城市</th>
            <th>起飞时间</th>
            <th>状态</th>
            <th>价格</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.username }}</td>
                <td>{{ order.flight.flight_name }}</td>
                <td>{{ order.flight.departure }}</td>
                <td>{{ order.flight.destination }}</td>
                <td>{{ order.flight.departure_time }}</td>
                <td>{{ order.order_status }}</td>
                <td>{{ order.flight.price }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="7">没有订单</td></tr>
        {% endfor %}
    </table>
    </body>
</html>
