{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <div>
        <h4>{{ request.user.username }} 欢迎登陆！</h4>
    </div>
    <div>
        <h5>
            <label>user: </label>
            {{ request.user }}
        </h5>
        <h5>
            <label>user.name: </label>
            {{ request.user.username }}
        </h5>
    </div>
    <div>
        <a href="{% url 'logout' %}">退出</a>
    </div>
    <div>
        <h3>您的航班预订：</h3>
        <ul>
            {% for order in orders %}
                <li>
                    航班名: {{ order.flight.name }}<br>
                    出发城市: {{ order.flight.departure }}<br>
                    到达城市: {{ order.flight.destination }}<br>
                    出发时间: {{ order.flight.departure_time }}<br>
                    到达时间: {{ order.flight.arrival_time }}<br>
                    价格: {{ order.flight.price }}<br>
                    <a href="{% url 'cancel_order' order.id %}">退票</a>
                </li>
            {% empty %}
                <li>您还没有预订任何航班。</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
